@model Voicer.Models.Reminder

@{
    ViewData["Title"] = "Create Reminder";
}

<h2>Create Reminder</h2>

<h4>Reminder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReminderTime" class="control-label"></label>
                <input asp-for="ReminderTime" class="form-control" />
                <span asp-validation-for="ReminderTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
